.noteForm {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    padding: 25px 20px;
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-primary);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
}

.noteForm__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.noteForm__cancel {
    background-color: transparent;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    transition: border-bottom-color var(--colors-transition-duration);
}

.noteForm__cancel:hover {
    font-weight: bold;
    border-bottom-color: var(--color-secondary);
}

.noteForm__textareaCotnainer {
    position relative;
}

.noteForm__textarea {
    width: 100%;
    min-height: 100px;
    max-height: 450px;
    padding: var(--input-padding);
    border-radius: var(--ui-item-border-radius);
    border: 1px solid transparent;
    background-color: #ebecee;
    font-size: var(--font-size-base);
    resize: vertical;
    font-family: sans-serif;
}

.noteForm__textarea:hover:not(.noteForm__textarea:focus-visible) {
    background-color: #d7d9dc;
}

.noteForm__textarea:active, .noteForm__textarea:focus-visible {
    background-color: var(--background-primary);
    border-color: #1a1a1c;
    outline: none;
}

.noteForm__addButton {
    position: absolute;
    bottom: 40px;
    right: 35px;
}

.noteList {
    margin-top: -20px;
    padding: 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.note {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: var(--ui-item-border-radius);
    background-color: var(--background-primary);
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.075);
}

.note__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.note__title {
    font-size: var(--font-size-base);
    font-weight: 400;
}

.note__buttonsContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.note__description {
    font-size: var(--font-size-base);
    opacity: 0.8;
}

.note__date {
    opacity: 0.7;
    font-size: var(--font-size-sm);
}

.emptyState {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.emptyState__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 0 0 5px #ebecee;
}

.emptyState__title {
    font-size: var(--font-size-lg);
}

.emptyState__text {
    font-size: var(--font-size-sm);
    opacity: 0.8;
    text-align: center;
    padding: 0 20px;
}