/* INPUTS START */
.input {
    width: 100%;
    padding: var(--input-padding);
    border-radius: var(--ui-item-border-radius);
    border: 1px solid transparent;
    background-color: #ebecee;
    font-size: var(--font-size-base);

    transition: background-color var(--colors-transition-duration), border-color var(--colors-transition-duration);
}

.input:hover:not(.input:focus-visible) {
    background-color: #d7d9dc;
}

.input:active, input:focus-visible {
    background-color: var(--background-primary);
    border-color: #1a1a1c;
    outline: none;
}

.searchInput {
    padding-left: 40px;
}

.searchInput::placeholder {
    letter-spacing: 1px;
}

.searchInput__container {
    position: relative;
}

.searchInput__icon {
    position: absolute;
    top: 50%;
    left: var(--input-padding);
    transform: translateY(-50%);
}
/* INPUTS END */

/* BUTTONS START */
.buttonPrimary {
    border: 1px solid transparent;
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--ui-item-border-radius);
    padding: 10px 20px;
    font-size: var(--font-size-base);
    cursor: pointer;

    transition: background-color var(--colors-transition-duration);
}

.buttonPrimary:hover {
    background-color: var(--color-primary-hover);
}
.buttonPrimary:active {
    background-color: var(--color-primary-active);
}

.buttonGhost {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: var(--color-tetriary);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--colors-transition-duration);
}

.buttonGhost:hover {
    background-color: var(--color-tetriary-hover);
}

.buttonGhost:active {
    background-color: var(--color-tetriary-active);
}

.buttonOutline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #bcbcbd;
    border-radius: var(--ui-item-border-radius);
    padding: 5px 13px;
    font-size: var(--font-size-sm);
    cursor: pointer;
    background-color: var(--color-tetriary);

    transition: background-color var(--colors-transition-duration);
}

.buttonOutline:hover {
    background-color: var(--color-tetriary-hover);
}

.buttonOutline:active {
    background-color: var(--color-tetriary-active);
}
/* BUTTONS END */

/* MODAL START */
.modal {
    position: absolute;
    inset: 0;
    z-index: 10;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    width: 90%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--background-primary);
    border-radius: var(--ui-item-border-radius);
}

.modal__title {
    font-size: var(--font-size-lg);
}

.modal__text {
    opacity: 0.8;
    line-height: 1.5;
}

.modal__buttonsContainer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.modal__buttonsContainer > * {
    width: calc(50% - 8px);
}
/* MODAL END */